.ObtenerFoto #drop {
    border: 3px dashed blue;
    width: 400px;
    height: 200px;
    background-color: lightyellow;    
    margin: 10px auto;
    font-size: 24px;
    padding: 10px;
}

.ObtenerFoto label{
    color: red;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.ObtenerFoto input {
    display: none;
}

.ObtenerFoto span {
    color:red;
}

.ObtenerFoto img {
    height: 150px;
    display: block;
    margin: auto;
}