.ObtenerFoto #drop {
    border: 1px dashed rgb(255, 255, 255);
    width: 400px;
    height: 200px;
    background-color: #ffc0cb;   
    margin: 10px auto;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
}

.ObtenerFoto label{
    color: #f0fff4;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.ObtenerFoto input {
    display: none;
}

.ObtenerFoto span {
    color:red;
}

.ObtenerFoto img {
    height: 150px;
    display: block;
    margin: auto;
}
@media (max-width: 900px) {
    .ObtenerFoto #drop {
    width: 100px;
    height: 60px;
    margin: 10px auto;
    font-size: 14px;
    padding: 10px;
}
}


@media (max-width: 600px) {
    
}