.cant-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    z-index: 999;
}

/* 
.app header {
    position: fixed;
    top: 0;
    left: 0;
} 

.app main {
    padding-top: calc(2*54px);
}  */