.app .cant-carrito {
    position: absolute;
    right: 5px;
    top: 35px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.app header {
    position: fixed;
    top: 0;
    left: 0;
}

.app main {
    padding-top: calc(2*54px);
}