.carrito {
    padding: 20px;
    min-height: 600px;
    background-color: var(--bgc);
}

.carrito h1,
.carrito h2 {
    margin: 20px;
    text-shadow: 3px 1px 10px rgba(0, 0, 0, 0.61);
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}

.carrito .carrito_borrar_pedir {
    margin: 15px auto;
    display: block;

    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.carrito .carrito_borrar {
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: smaller;
}

.carrito .carrito_pedir {
    background-color: green;
    color: white;
    cursor: pointer;
}

/*  ------- Maquetado de la tabla ------ */
.carrito th,
.carrito td {
    border: 1px solid black;
    width: 150px;
    height: 30px;
    padding: 20px;
}

.carrito table {
    border-collapse: collapse;
    margin: 5px auto;
}

.carrito th {
    text-transform: uppercase;
    background-color: #111;
    color: var(--bgc);
    font-size: 18px;
}

.carrito td {
    font-size: 18px;
}

.carrito table button.btnBorrar {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.carrito table button.btnIncDec {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.carrito table button.btnDec,
.carrito table button.btnInc {
    background-color: var(--bgc);
    color: black;
    border-radius: 50%;
}
.mensaje-exito {
    background: #7dff91;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #084c11;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    animation: aparecer 0.3s ease;
}

@media (max-width: 1200px) {
    .carrito h1 {
        margin: 0;
        font-size: 1rem;
    }

    .carrito h2 {
        margin: 0;
        font-size: 1rem;
    }

    .carrito table {
        min-width: 100px;
        border-collapse: collapse;
        margin: 1px auto;
    }

    .carrito th,
    .carrito td {
        border: 1px solid black;
        width: 50px;
        height: 10px;
        padding: 0;
    }

    .carrito th {
        text-transform: uppercase;
        background-color: #111;
        color: var(--bgc);
        font-size: 8px;
    }

    .carrito td {
        font-size: 8px;
    }

    .carrito table button.btnBorrar {
        width: 80%;
        height: 15px;
        border-radius: 5px;
        font-size: 8px;
        background-color: red;
        color: white;
        cursor: pointer;
        margin: auto;
        display: block;
        align-items: center;
        padding: 2px;
    }

    .carrito table button.btnIncDec {
        width: 17px;
        height: 17px;
        font-size: 10px;
        cursor: pointer;
        margin-bottom: 2px;
    }

    .carrito table button.btnDec,
    .carrito table button.btnInc {
        color: black;
    }

    .carrito .carrito_borrar {
        width: 100px;
        height: 25px;
        border-radius: 5px;
        font-size: 14px;
    }

    h3 {
        font-size: 10px;
    }

    .carrito .carrito_pedir  {
        background-color: green;
        color: white;
        cursor: pointer;
        font-size: smaller;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        font-size: 14px;
    }

    h4{
        font-size: 12px;
    }
    li{
        font-size: 10px;
    }
    ul{
        padding: 12px;
    }
    img{
        width: 30px;
    }
}