.carrito {
    padding: 20px;
    min-height: 600px;
    background-color: var(--bgc);
}

.carrito h1,
.carrito h2 {
    margin: 20px;
    text-shadow: 3px 1px 10px rgba(0, 0, 0, 0.61);
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}

.carrito .carrito_borrar_pedir {
    margin: 15px auto;
    display: block;

    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.carrito .carrito_borrar {
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: smaller;
}

.carrito .carrito_pedir {
    background-color: green;
    color: white;
    cursor: pointer;
}

/*  ------- Maquetado de la tabla ------ */
.carrito th,
.carrito td {
    border: 1px solid black;
    width: 150px;
    height: 30px;
    padding: 20px;
}

.carrito table {
    border-collapse: collapse;
    margin: 5px auto;
}

.carrito th {
    text-transform: uppercase;
    background-color: #111;
    color: var(--bgc);
    font-size: 18px;
}

.carrito td {
    font-size: 18px;
}

.carrito table button.btnBorrar {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.carrito table button.btnIncDec {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.carrito table button.btnDec,
.carrito table button.btnInc {
    background-color: var(--bgc);
    color: black;
    border-radius: 50%;
}